$component: 'filelist';

.#{$component} {
  margin: 20px 0;

  &__header {
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);

    font-size: 18px;

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  &__name {
    grid-column-start: 2;

    font-weight: 500;
  }

  &__date {
    grid-column-start: 5;
    justify-self: center;

    font-weight: 500;
  }

  &__size {
    grid-column-start: 6;
    justify-self: center;

    font-weight: 500;
  }
}
