$component: 'file';

.#{$component} {
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr);
  align-items: center;
  padding: 8px 0;

  border-bottom: solid 1px rgb(0 0 0 / 20%);
  cursor: pointer;

  @media only screen and (max-width: 768px) {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &:hover {
    transform: scale(1.02);

    transition: transform 0.1s ease-in-out;

    .#{$component} {
      &__btns {
        display: flex;
      }

      &__date {
        grid-column-start: 4;
      }

      &__size {
        grid-column-start: 5;
      }

      &__download {
        display: block;
        grid-column-start: 6;
      }

      &__delete {
        display: block;
        grid-column-start: 7;
        margin-left: 8px;
      }
    }
  }

  &__img {
    justify-self: center;
    max-width: 48px;
    max-height: 48px;

    @media only screen and (max-width: 768px) {
      margin-right: 16px;
    }
  }

  &__date {
    grid-column-start: 5;
    justify-self: center;

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  &__size {
    grid-column-start: 6;
    justify-self: center;

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  &__btn {
    display: none;

    @media only screen and (max-width: 768px) {
      display: block;
      margin-bottom: 8px;
    }
  }

  &__btns {
    margin-left: auto;

    @media only screen and (max-width: 768px) {
      display: block;
    }
  }

  &_plate {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 128px;
    height: 128px;

    border: 0;
    cursor: pointer;

    @media only screen and (max-width: 768px) {
      margin-bottom: 40px;

      .#{$component}__btn {
        margin-top: 4px;
        margin-bottom: 8px;
      }
    }

    .#{$component}__img {
      max-width: 88px;
      max-height: 88px;
    }

    .#{$component}__data,
    .#{$component}__size {
      display: none;
    }

    .#{$component}__name {
      margin-top: 8px;

      text-align: center;
    }

    &:hover {
      .#{$component}__btns {
        display: flex;
      }
    }
  }
}

.fileplate {
  display: flex;
  flex-wrap: wrap;
  margin: 32px 0 0 16px;

  @media only screen and (max-width: 768px) {
    margin-top: 0;
  }
}

.file-enter-active {
  animation: file-enter 500ms forwards;
}

@keyframes file-enter {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
