$component: 'authorization';

.#{$component} {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 30px;

  background-color: white;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 24px;

  &__header {
    margin-bottom: 16px;

    font-weight: 700;
    font-size: 30px;
  }

  & input {
    margin: 12px 24px;

    font-size: 16px;

    &::placeholder {
      color: rgba(0, 0, 0, 0.3);
      font-size: 16px;
    }
  }

  &__btn {
    align-self: flex-end;
    margin-top: 12px;

    color: white;
    font-weight: 700;

    border: none;
    border-radius: 8px;
  }
}
