$component: 'disk';

.#{$component} {
  margin-top: 20px;

  &__back {
    padding: 14px 20px;

    color: #ffffff;
    font-size: 16px;
    // font-family: 'Druck';
    text-decoration: none;

    background: #000000;
    border: none;
    outline: none;
    cursor: pointer;

    transition: all 0.1s ease;

    -webkit-mask-image: paint(squircle);

    --squircle-radius: 16px;
    --squircle-smooth: 0.5;

    &:hover {
      background: #5f0fff;
    }
  }

  &__btns {
    display: flex;
  }

  &__create {
    margin-left: 10px;
  }

  &__upload-input {
    display: none;
  }

  &__upload-label {
    margin-left: 10px;
    padding: 5px 10px;

    border: 2px dashed #000000;
    cursor: pointer;
  }

  &__select {
    margin-left: auto;
  }

  &__list,
  &__plate {
    width: 20px;
    height: 20px;
    margin: 0 10px;

    background: no-repeat center center;
    background-size: contain;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__list {
    background-image: url('../../assets/img/list.svg');
  }

  &__plate {
    background-image: url('../../assets/img/plate.svg');
  }
}
