$component: 'disk';

.#{$component} {
  margin-top: 40px;

  &__alert {
    margin-top: -12px;
    margin-bottom: 16px !important;
  }

  &__btns {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    padding: 0 0 0 12px;
  }

  &__create {
    margin-left: 12px;
  }

  &__upload-input {
    display: none;
  }

  &__upload-label {
    margin-left: 12px;
    padding: 12px 24px;

    border: 2px dashed #222222;
    cursor: pointer;

    transition: border 0.1s ease-in-out, padding 0.1s ease-in-out;

    &:hover {
      padding: 11px 23px;

      border: 3px dashed #222222;
    }
  }

  &__select {
    height: 32px;
    margin-left: auto;
  }

  &__list,
  &__plate {
    width: 32px;
    height: 32px;
    margin: 0 12px;

    background: no-repeat center center;
    background-size: contain;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__list {
    background-image: url('../../../assets/img/list.svg');
  }

  &__plate {
    background-image: url('../../../assets/img/plate.svg');
  }
}
