$component: 'upload-file';

.#{$component} {
  position: relative;

  margin: 5px 0;
  padding: 5px 10px;

  background-color: #ffffff;
  border-radius: 8px;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__progress-bar {
    display: flex;
    height: 1rem;
    margin: 3px 0;

    background-color: #566885;
    border-radius: 8px;
  }

  &__upload-bar {
    background-color: #000000;
    border-radius: 8px;
  }

  &__percent {
    position: absolute;
    left: 50%;

    color: #e9e6e6;
  }

  &__name {
    font-size: 1rem;
  }

  &__remove {
    position: absolute;
    top: 4px;
    right: 4px;

    background: transparent;
    border: 0;
    cursor: pointer;
  }
}
