body {
  font-family: 'Roboto Condensed', Arial, sans-serif;

  background-color: rgba(34, 34, 34, 0.1);
}

.container {
  max-width: 870px;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0 auto;
  padding: 0 16px;

  background-color: #ffffff;

  @media only screen and (max-width: 1200px) {
    max-width: 480px;
  }
}
